@import 'vars';
@import 'fonts';

html {
  box-sizing: border-box;
}
*,*:before,*:after {
  box-sizing: inherit;
}

h1, h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'Roboto-Regular', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
// header styles
.header {
  background: $accent;
  &__inner {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo__link {
  margin-left: 8px;
}

.menu {
  &__btn {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background: white;
    border: none;
    cursor: pointer;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 2px;
      background: $accent;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 4px 0 0 $accent, 0 -4px 0 0 $accent;
    }
  }
}

.head {
  background-image: url('../images/bg-img.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 193px;
  .top-slider {
    background: rgba(33, 33, 33, 0.50);
    &__item {
      color: white;
      text-align: center;
      
    }
    &__title {
      font-family: 'RobotoCondensed-Regular', 'Arial', sans-serif;
      font-weight: 500;
      font-size: 28px;
      line-height: 28px;
      padding: 36px 0 28px;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 640px) {
  .container {
    padding: 0 40px;
  }
  // header styles
  .header {
    &__inner {
      min-height: 100px;
    }
  }
  .logo__link {
    margin-left: 14px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 60px;
  }
  .logo__link {
    margin-left: 0px;
  }
}
@media (min-width: 1024px) {
  
}